 <!DOCTYPE html>
<html>
	<body ng-controller="listCtrl">
	    <form ng-submit="addToList(obj)">
	  	  <input type="email" ng-model="obj" required />
            {{errMsge}}
		    <input type="submit" value="add"/>
     </form>
	    <a href="" ng-click="deleteAll()">delete all</a>
	    <ul >
		  <li ng-repeat="nom in liste" >
            {{nom}}
		  <a href=""  ng-click="deleteFromList(nom)">delete</a>
			 <a href=""  ng-click="show(nom)">  show</a>
		  </li>
		</ul>
</body>
	</html>