<!--<html>
<head>
  <meta charset="utf-8"/>
  
</head>
<body>
   <div id="grphe">
    <canvas id="canvas" width="300" height="300"></canvas>
   </div>
   <script src="./node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
   <script src="./node_modules/chart.js/Chart.min.js"></script>
   <script src="./AngularJS/angular.min.js"></script>
   <script>

   

var socket=io.connect('http://localhost:8020');
socket.emit("mot2","msgquelconque");
        	socket.on("tmp",function(data){
		       yValrcv=data.tmpData;
			   
	        }); 
var lineData = {
  labels: ['Data 1', 'Data 2', 'Data 3', 'Data 4', 
           'Data 5', 'Data 6', 'Data 7'],
  datasets: [{
    fillColor: 'rgba(0,0,0,0)',
    strokeColor: 'rgba(220,180,0,1)',
    pointColor: 'rgba(220,180,0,1)',
    data: [20, 30, 80, 20, 40, 10, 60]
  }, {
    fillColor: 'rgba(0,0,0,0)',
    strokeColor: 'rgba(151,187,205,1)',
    pointColor: 'rgba(151,187,205,1)',
    data: [60, 10, 40, 30, 80, 30, 20]
  }]
};
var counter=0;
var randata=function(){
   return Math.round(Math.random() * 90) + 10;
}
var ctx=document.getElementById('canvas').getContext('2d');
var Lchart=new Chart(ctx).Line(lineData);

setInterval(function(){
  Lchart.removeData();
  Lchart.addData([randata()%5+parseInt(yValrcv),parseInt(yValrcv)],counter);
  counter++;

},1000);
Lchart.update();
</script>

   
</body>

</html>

-->
<html ng-app="app">
  
   <script src="./AngularJS/angular.js"></script>
   <script src="./node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
    
	 <script> 
        var app=angular.module('app',[]);
		app.controller('listCtrl',function($scope){
		    $scope.liste=[];
			  //socket=io.connect("http://localhost:8080/");
			  //socket.on('notifications',function(data){
			   socket=new WebSocket("ws://localhost:8084/");
			   socket.onmessage=function(event){
								 $scope.$apply(function(){
								   $scope.liste.push(event.data);  
 									});
			        console.log(event.data);
			   };
      $scope.errMsge="";
			//});
            $scope.$watch('obj',function(newV,oldV){
              if($scope.obj){
               if($scope.obj.$valid){
                   $scope.errMsge="";
               }
               else $scope.errMsge="ce champ est obligatoire ! ";
               }
            });
			$scope.deleteFromList=function(elmnt){
			    var i=$scope.liste.indexOf(elmnt);
			    $scope.liste.splice(i,1);
			};
			$scope.show=function(name){
			  var i=$scope.liste.indexOf(name);
			  var magic="click-".concat(name);
			  $scope.socket.send(magic); 
			};
			$scope.addToList=function(elmnt){
			    $scope.liste.push(elmnt);
				$scope.obj="";
			};
			$scope.deleteAll=function(){
			    $scope.liste=[];
			}
		});
	 </script>
	 <body ng-controller="listCtrl">
	    <form ng-submit="addToList(obj)">
	  	    <input type="email" ng-model="obj" required />
            {{errMsge}}
		    <input type="submit" value="add"/>
    	</form>
	    <a href="" ng-click="deleteAll()">delete all</a>
	    <ul >
		  <li ng-repeat="nom in liste" >
		    <!-- <span ng-bind="nom"></span> -->
            {{nom}}
		    <a href=""  ng-click="deleteFromList(nom)">delete</a>
			<a href=""  ng-click="show(nom)">  show</a>
		  </li>
		</ul>
	    
	    <canvas id="c" width="500" height="500"  style="border:2px solid black;">
	    </canvas>
    </body>
</html>
